<!-- Page Wrapper -->
<div class="page-wrapper">
    

    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Welcome Admin!</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon text-primary border-primary">
                                <i class="bi bi-person-hearts"></i>
                            </span>
                            <div class="dash-count">
                                <h3>168</h3>
                            </div>
                        </div>
                        <div class="dash-widget-info">
                            <h6 class="text-muted">Doctors</h6>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-primary w-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon text-success">
                                <i class="bi bi-people"></i>
                            </span>
                            <div class="dash-count">
                                <h3>487</h3>
                            </div>
                        </div>
                        <div class="dash-widget-info">

                            <h6 class="text-muted">Patients</h6>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-success w-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon text-danger border-danger">
                                <i class="bi bi-card-list"></i>
                            </span>
                            <div class="dash-count">
                                <h3>485</h3>
                            </div>
                        </div>
                        <div class="dash-widget-info">

                            <h6 class="text-muted">Appointment</h6>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-danger w-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon text-warning border-warning">
                                <i class="bi bi-wallet2"></i>
                            </span>
                            <div class="dash-count">
                                <h3>$62523</h3>
                            </div>
                        </div>
                        <div class="dash-widget-info">

                            <h6 class="text-muted">Revenue</h6>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-warning w-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6">

                <!-- Sales Chart -->
                <!-- <div class="card card-chart">
                    <div class="card-header">
                        <h4 class="card-title">Revenue</h4>
                    </div>
                    <div class="card-body">
                        <div id="morrisArea"></div>
                    </div>
                </div> -->
                <!-- /Sales Chart -->

            </div>
            <div class="col-md-12 col-lg-6">

                <!-- Invoice Chart -->
                <!-- <div class="card card-chart">
                    <div class="card-header">
                        <h4 class="card-title">Status</h4>
                    </div>
                    <div class="card-body">
                        <div id="morrisLine"></div>
                    </div>
                </div> -->
                <!-- /Invoice Chart -->

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex">

                <!-- doctor.component.html -->

                <div class="card card-table flex-fill">
                    <div class="card-header">
                        <h4 class="card-title">Doctors List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Doctor Name</th>
                                        <th>Speciality</th>
                                        <th>Earned</th>
                                        <th>Reviews</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let doctor of doctors">
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="profile.html" class="avatar avatar-sm mr-2">
                                                    <img class="avatar-img rounded-circle"
                                                        src="assets/img/doctors/doctor-thumb-01.jpg" alt="User Image">
                                                </a>
                                                <a href="profile.html">{{ doctor.name }}</a>
                                            </h2>
                                        </td>
                                        <td>{{ doctor.speciality }}</td>
                                        <td>{{ doctor.earned }}</td>
                                        <td>
                                            <!-- <i class="fe fe-star text-warning" *ngFor="let _ of Array(doctor.reviews)"></i>
                            <i class="fe fe-star-o text-secondary" *ngFor="let _ of Array(5 - doctor.reviews)"></i> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-6 d-flex">

                <!-- Feed Activity -->
                <!-- patient.component.html -->

                <div class="card card-table flex-fill">
                    <div class="card-header">
                        <h4 class="card-title">Patients List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Patient Name</th>
                                        <th>Phone</th>
                                        <th>Last Visit</th>
                                        <th>Paid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let patient of patients">
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="profile.html" class="avatar avatar-sm mr-2">
                                                    <img class="avatar-img rounded-circle"
                                                        src="assets/img/patients/patient1.jpg" alt="User Image">
                                                </a>
                                                <a href="profile.html">{{ patient.name }}</a>
                                            </h2>
                                        </td>
                                        <td>{{ patient.phone }}</td>
                                        <td>{{ patient.lastVisit }}</td>
                                        <td class="text-right">{{ patient.paid }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <!-- Recent Orders -->
                <!-- appointment.component.html -->

<div class="card card-table">
    <div class="card-header">
        <h4 class="card-title">Appointment List</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-center mb-0">
                <thead>
                    <tr>
                        <th>Doctor Name</th>
                        <th>Speciality</th>
                        <th>Patient Name</th>
                        <th>Appointment Time</th>
                        <th>Status</th>
                        <th class="text-right">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let appointment of appointments">
                        <td>
                            <h2 class="table-avatar">
                                <a href="profile.html" class="avatar avatar-sm mr-2">
                                    <img class="avatar-img rounded-circle" [src]="appointment.doctor.image" alt="User Image">
                                </a>
                                <a href="profile.html">{{ appointment.doctor.name }}</a>
                            </h2>
                        </td>
                        <td>{{ appointment.doctor.specialty }}</td>
                        <td>
                            <h2 class="table-avatar">
                                <a href="profile.html" class="avatar avatar-sm mr-2">
                                    <img class="avatar-img rounded-circle" [src]="appointment.patient.image" alt="User Image">
                                </a>
                                <a href="profile.html">{{ appointment.patient.name }}</a>
                            </h2>
                        </td>
                        <td>{{ appointment.time }}</td>
                        <td>
                            <div class="status-toggle">
                                <input type="checkbox" id="status_{{ appointment.time }}" class="check" [checked]="appointment.status">
                                <label for="status_{{ appointment.time }}" class="checktoggle">checkbox</label>
                            </div>
                        </td>
                        <td class="text-right">{{ appointment.amount }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


            </div>
        </div>

    </div>
</div>
<!-- /Page Wrapper -->