<div class="col-md-2 col-lg-2 col-xl-12">
    <div class="row row-grid">
      <div class="col-md-9 col-lg-2 col-xl-2" *ngFor="let patient of patients">
        <div class="card widget-profile pat-widget-profile">
          <div class="card-body">
            <div class="pro-widget-content">
              <div class="profile-info-widget">
                <a [routerLink]="['/patient-profile', patient.patientId]" class="booking-doc-img">
                  <img [src]="patient.imageName" alt="User Image">
                </a>
                <div class="profile-det-info">
                  <h3><a [routerLink]="['/patient-profile', patient.id]">{{ patient.patientName }}</a></h3>
                  <div class="patient-details">
                    <h5><b>Patient Email :</b> {{ patient.email}}</h5>
                    <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{ patient.address }},{{patient.city}},{{patient.zipCode}},{{patient.country}}</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="patient-info">
              <ul>
                <li>Phone <span>{{ patient.mobile }}</span></li>
               
                <li>Blood Group <span>{{ patient.bloodGroup }}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
