
<div  style="margin-top: 1%;">
    <div >
        <!-- Breadcrumb -->
        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" [routerLink]="''"><a >Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Dashboard</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <div class="row">
            <div class="col-3">
                <app-patient-sidebar></app-patient-sidebar>
            </div>


            <div class="col-8">

                <div class="card dash-card">
                    <div class="card-body">
                        <div class="row">
                            <app-patient-dashboard-home></app-patient-dashboard-home>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
