.centered-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjusts height of form container */
  }
  .form-border {
    border: 1px solid #ccc; /* Add border style */
    border-radius: 5px; /* Add border radius for rounded corners */
    padding: 20px; /* Add padding to create space between border and content */
  }
    