
    <!-- Profile Sidebar -->
    <div class="profile-sidebar">
        <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
                <a href="#" class="booking-doc-img">
                  <img [src]="doctor.imageName" alt="User Image">
                </a>
                <div class="profile-det-info">
                    <h3>Dr.{{ doctor.name}}</h3>

                    <div class="patient-details">
                        <h5 class="mb-0">{{doctor.email}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-widget">
            <nav class="dashboard-menu">
                <ul>
                    <li >
                        <a [routerLink]="'/doctordashboard/'">
                            <i class="fas fa-columns"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a  [routerLink]="'/doctordashboard/doctorappointments'">
                            <i class="fas fa-calendar-check"></i>
                            <span>Appointments</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="'/doctordashboard/doctorallpatients'">
                            <i class="fas fa-user-injured"></i>
                            <span>My Patients</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="'/doctordashboard/doctorscheduletimings'">
                            <i class="fas fa-hourglass-start"></i>
                            <span>Schedule Timings</span>
                        </a>
                    </li>
                    <li>
                      <a [routerLink]="'/doctordashboard/myschedules'">
                          <i class="fas fa-hourglass-start"></i>
                          <span>My Schedule</span>
                      </a>
                  </li>
                    <li>
                        <a [routerLink]="'/doctordashboard/doctorinvoices'">
                            <i class="fas fa-file-invoice"></i>
                            <span>Invoices</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="'/doctordashboard/reviews'">
                            <i class="fas fa-star"></i>
                            <span>Reviews      !!</span>
                        </a>
                    </li>
                    <li>
                      <a [routerLink]="'/doctordashboard/message'">
                            <i class="fas fa-comments"></i>
                            <span>Message     !!</span>

                        </a>
                    </li>
                    <li>
                        <a [routerLink]="'/doctordashboard/doctorprofilesetting'">
                            <i class="fas fa-user-cog"></i>
                            <span>Profile Settings</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="social-media.html">
                            <i class="fas fa-share-alt"></i>
                            <span>Social Media</span>
                        </a>
                    </li> -->
                    <li>
                        <a [routerLink]="'/doctordashboard/doctorchangepassword'">
                            <i class="fas fa-lock"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="confirmLogout()">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /Profile Sidebar -->
