<div class="card-body pt-0">
  <!-- Tab Menu -->
  <nav class="user-tabs mb-4">
    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
      <li class="nav-item">
        <a class="nav-link active" href="#pat_appointments" data-toggle="tab"
          >Appointments</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pat_prescriptions" data-toggle="tab"
          >Prescriptions</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pat_medical_records" data-toggle="tab"
          ><span class="med-records">Medical Records</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pat_billing" data-toggle="tab">Billing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pat_lab_booking" data-toggle="tab"
          >Lab Bookings</a
        >
      </li>
    </ul>
  </nav>
  <!-- /Tab Menu -->

  <!-- Tab Content -->
  <div class="tab-content pt-0">
    <!-- Appointment Tab -->

    <!-- src/app/appointments/appointments.component.html -->
    <div id="pat_appointments" class="tab-pane fade show active">
      <div class="card card-table mb-0">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-center mb-0">
              <thead>
                <tr>
                  <th>Doctor</th>
                  <th>Appt Date</th>
                  <th>Booking Date</th>
                  <th>Amount</th>
                  <th>Follow Up</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let appointment of Appointment_Request">
                  <td>
                    <h2 class="table-avatar">
                      <a
                        [routerLink]="
                          '/patientmaindashboard/doctorprofile/' +
                          appointment.doctor.id
                        "
                        class="avatar avatar-sm mr-2"
                      >
                        <img
                          class="avatar-img rounded-circle"
                          [src]=" appointment.doctor.imageName"
                          alt="User Image"
                        />
                      </a>
                      <a
                        [routerLink]="
                          '/patientmaindashboard/doctorprofile/' +
                          appointment.doctor.id
                        "
                        >{{ appointment.doctor.name }}
                        <span>{{
                          appointment.doctor.speciality.spName
                        }}</span></a
                      >
                    </h2>
                  </td>
                  <td>{{ appointment.appointmentDate }}</td>
                  <td>{{ appointment.bookingdate }}</td>
                  <td>{{ appointment.doctor.rate + 60 }}</td>
                  <td>{{ appointment.appointmentDate }}</td>
                  <td>
                    <span
                      [class]="
                        'badge badge-pill ' +
                        getStatusBadgeClass(appointment.status)
                      "
                      >{{ appointment.status }}</span
                    >
                  </td>
                  <td class="text-right">
                    <div class="table-action">
                      <a
                        href="javascript:void(0);"
                        class="btn btn-sm bg-primary-light"
                      >
                        <i class="fas fa-print"></i> Print
                      </a>
                      <a
                        href="javascript:void(0);"
                        class="btn btn-sm bg-info-light"
                      >
                        <i class="far fa-eye"></i> View
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- /Appointment Tab -->

    <!-- Prescription Tab -->
    <!-- src/app/prescriptions/prescriptions.component.html -->
    <div class="tab-pane fade" id="pat_prescriptions">
      <div class="card card-table mb-0">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-center mb-0">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Created by</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let prescription of prescriptions">
                  <td>{{ prescription.date }}</td>
                  <td>{{ prescription.name }}</td>
                  <td>
                    <h2 class="table-avatar">
                      <a
                        [href]="'doctor-profile/' + prescription.createdBy.id"
                        class="avatar avatar-sm mr-2"
                      >
                        <img
                          class="avatar-img rounded-circle"
                          [src]="prescription.createdBy.image"
                          alt="User Image"
                        />
                      </a>
                      <a [href]="'doctor-profile/' + prescription.createdBy.id"
                        >{{ prescription.createdBy.name }}
                        <span>{{ prescription.createdBy.specialty }}</span></a
                      >
                    </h2>
                  </td>
                  <td class="text-right">
                    <div class="table-action">
                      <a
                        href="javascript:void(0);"
                        class="btn btn-sm bg-primary-light"
                      >
                        <i class="fas fa-print"></i> Print
                      </a>
                      <a
                        href="javascript:void(0);"
                        class="btn btn-sm bg-info-light"
                      >
                        <i class="far fa-eye"></i> View
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- /Prescription Tab -->

    <!-- Medical Records Tab -->
    <!-- src/app/medical-records/medical-records.component.html -->
    <div id="pat_medical_records" class="tab-pane fade">
      <div class="card card-table mb-0">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-center mb-0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Attachment</th>
                  <th>Created</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let record of medicalRecords">
                  <td>
                    <a [href]="'javascript:void(0);'">{{ record.id }}</a>
                  </td>
                  <td>{{ record.date }}</td>
                  <td>{{ record.description }}</td>
                  <td>
                    <a [href]="'#'">{{ record.attachment }}</a>
                  </td>
                  <td>
                    <h2 class="table-avatar">
                      <a
                        [href]="'doctor-profile.html'"
                        class="avatar avatar-sm mr-2"
                      >
                        <img
                          class="avatar-img rounded-circle"
                          [src]="record.createdBy.image"
                          alt="User Image"
                        />
                      </a>
                      <a [href]="'doctor-profile.html'"
                        >{{ record.createdBy.name }}
                        <span>{{ record.createdBy.specialty }}</span></a
                      >
                    </h2>
                  </td>
                  <td class="text-right">
                    <div class="table-action">
                      <a
                        href="javascript:void(0);"
                        class="btn btn-sm bg-info-light"
                      >
                        <i class="far fa-eye"></i> View
                      </a>
                      <a
                        href="javascript:void(0);"
                        class="btn btn-sm bg-primary-light"
                      >
                        <i class="fas fa-print"></i> Print
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- /Medical Records Tab -->

    <!-- Billing Tab -->
    <!-- src/app/billing/billing.component.html -->
    <div id="pat_billing" class="tab-pane fade">
      <div class="card card-table mb-0">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-center mb-0">
              <thead>
                <tr>
                  <th>Invoice No</th>
                  <th>Doctor</th>
                  <th>Amount</th>
                  <th>Paid On</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let record of billingRecords">
                  <td>
                    <a [href]="'invoice-view.html'">{{ record.invoiceNo }}</a>
                  </td>
                  <td>
                    <h2 class="table-avatar">
                      <a
                        [href]="'doctor-profile.html'"
                        class="avatar avatar-sm mr-2"
                      >
                        <img
                          class="avatar-img rounded-circle"
                          [src]="record.doctor.image"
                          alt="User Image"
                        />
                      </a>
                      <a [href]="'doctor-profile.html'"
                        >{{ record.doctor.name }}
                        <span>{{ record.doctor.specialty }}</span></a
                      >
                    </h2>
                  </td>
                  <td>${{ record.amount }}</td>
                  <td>{{ record.paidOn }}</td>
                  <td class="text-right">
                    <div class="table-action">
                      <a
                        [href]="'invoice-view.html'"
                        class="btn btn-sm bg-info-light"
                      >
                        <i class="far fa-eye"></i> View
                      </a>
                      <a
                        href="javascript:void(0);"
                        class="btn btn-sm bg-primary-light"
                      >
                        <i class="fas fa-print"></i> Print
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- /Billing Tab -->

    <div id="pat_lab_booking" class="tab-pane fade">
      <div class="card card-table mb-0">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-center mb-0">
              <thead>
                <tr>
                  <th>lab</th>

                  <th>Booking Date</th>

                  <th>Test Name</th>
                  <th>Amount</th>
                  <th>Purpose</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let appointment of bookings">
                  <td>
                    <h2 class="table-avatar">
                      <a class="avatar avatar-sm mr-2">
                        <img
                          class="avatar-img rounded-circle"
                          [src]="appointment.imageName"
                          alt="User Image"
                        />
                      </a>
                      <a
                        >{{ appointment.labName }}
                        <span>{{ appointment.labId }}</span></a
                      >
                    </h2>
                  </td>

                  <td>{{ appointment.bookingDate }}</td>
                  <td>{{ appointment.testName }}</td>
                  <td>{{ appointment.amount }}</td>
                  <td>{{ appointment.purpose }}</td>
                  <td>
                    <span
                      [class]="
                        'badge badge-pill ' +
                        getStatusBadgeClass(appointment.status)
                      "
                      >{{ appointment.status }}</span
                    >
                  </td>
                  <td class="text-right">
                    <div class="table-action">
                      <a
                        href="javascript:void(0);"
                        class="btn btn-sm bg-primary-light"
                      >
                        <i class="fas fa-print"></i> Print
                      </a>
                      <a
                        href="javascript:void(0);"
                        class="btn btn-sm bg-info-light"
                      >
                        <i class="far fa-eye"></i> View
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Tab Content -->
</div>
