<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Change Password</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                <!-- Profile Sidebar -->
                <app-patient-sidebar></app-patient-sidebar>
                <!-- /Profile Sidebar -->

            </div>

            <!-- change-password.component.html -->
            <div class="col-md-12 col-lg-6">
                <!-- Change Password Form -->
                <form (ngSubmit)="changePassword()">
                    <div class="form-group">
                        <label>Old Password</label>
                        <input type="password" class="form-control" [(ngModel)]="changePasswordRequest.oldPassword" name="oldPassword"
                            required>
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" class="form-control" [(ngModel)]="changePasswordRequest.newPassword" name="newPassword"
                            required>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword"
                            required>
                    </div>
                    <div class="submit-section">
                        <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                    </div>
                </form>
                <!-- /Change Password Form -->{{changePasswordRequest|json}}
            </div>

        </div>
    </div>
    
</div>
<!-- /Page Content -->
<app-footer></app-footer>
