<div class="container height-100 d-flex justify-content-center align-items-center">
  <div class="position-relative">
    <div class="card p-4 text-center">
      <h6 class="mb-4">Please enter the one-time password <br> to verify your account</h6>
      <div class="mb-3">
        <span>A code has been sent to</span>
        <small>*******9897</small>
      </div>
      <form>
        <div class="form-group text-center">
          <ng-otp-input (onInputChange)="onOtpChange($event)" name="otp" [config]="{length:4}" ></ng-otp-input><br/>
          <button class="btn btn-primary account-btn" (click)="verifyEmail()" type="submit">Enter</button>
        </div>
      </form>
    </div>
    
  
  </div>
</div>
