.cd__main{
  display: block !important;
  background: linear-gradient(to right, #00b09b, #96c93d) !important;
  min-height: 720px;
}
/* Profile Picture */
.profile-pic{
  display: inline-block;
  vertical-align: middle;
   width: 50px;
   height: 50px;
   overflow: hidden;
  border-radius: 50%;
}

.profile-pic img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.profile-menu .dropdown-menu {
 right: 0;
 left: unset;
}
.profile-menu .fa-fw {
 margin-right: 10px;
}

.toggle-change::after {
 border-top: 0;
 border-bottom: 0.3em solid;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  color: #333;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #212529;
  text-decoration: none;
  background-color: #f8f9fa;
}
button {
  margin-right: 8px;
}
