<section class="section section-search">
    <div class="container-fluid">
        <div class="banner-wrapper">
            <div class="banner-header text-center">
                <h1>Search Lab, Make an Appointment</h1>
                <p>Discover the best lab, lab test with best price  nearest to you.</p>
            </div>
             
            <!-- Search -->
            <div class="search-box">
                <form action="templateshub.net">
                    <div class="form-group search-location">
                        <input type="text" class="form-control" placeholder="Search Location">
                        <span class="form-text">Based on your Location</span>
                    </div>
                    <div class="form-group search-info">
                        <input type="text" class="form-control" placeholder="Search labs, lab test, neartest lab Etc">
                        <span class="form-text">Ex : lab Test</span>
                    </div>
                    <button type="submit" class="btn btn-primary search-btn"><i class="fas fa-search"></i> <span>Search</span></button>
                </form>
            </div>
            <!-- /Search -->

            
            
        </div>
    </div>

</section>
