<!-- Profile Sidebar -->
<div class="profile-sidebar">
    <div class="widget-profile pro-widget-content">
        <div class="profile-info-widget">
            <a href="#" class="booking-doc-img">
                <img src="../../../../assets/img/profiles/avatar-02.jpg" alt="Admin Image">
            </a>
            <div class="profile-det-info">
                <h3>Pharmacy Admin</h3>
                <div class="patient-details">
                    <h5 class="mb-0">Admin Role</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-widget">
        <nav class="dashboard-menu">
            <ul>
                <li>
                    <a [routerLink]="'/pharmaadmindashboard/'">
                        <i class="fas fa-columns"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="'/pharmaadmindashboard/pharmaadminorders'">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Orders</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="'/pharmaadmindashboard/maangemedicines'">
                        <i class="fas fa-box"></i>
                        <span>Inventory</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="'/pharmaadmindashboard/customers'">
                        <i class="fas fa-users"></i>
                        <span>Customers</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="'/pharmaadmindashboard/pharmasales'">
                        <i class="fas fa-chart-bar"></i>
                        <span>Sales</span>
                    </a>
                </li>
                <li>
                    <a href="reviews.html">
                        <i class="fas fa-star"></i>
                        <span>Reviews</span>
                    </a>
                </li>
                <li>
                    <a href="chat-admin.html">
                        <i class="fas fa-comments"></i>
                        <span>Messages</span>
                        <small class="unread-msg">10</small>
                    </a>
                </li>
                <li>
                    <a [routerLink]="'/pharmaadmindashboard/profilesetting'">
                        <i class="fas fa-user-cog"></i>
                        <span>Profile Settings</span>
                    </a>
                </li>
                <li>
                    <a href="social-media.html">
                        <i class="fas fa-share-alt"></i>
                        <span>Social Media</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="'/pharmaadmindashboard/adminchangepassword'">
                        <i class="fas fa-lock"></i>
                        <span>Change Password</span>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /Profile Sidebar -->
