<app-home-navbar></app-home-navbar>



<!-- Breadcrumb -->
<div class="breadcrumb-bar" style="margin-top: 5%;">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a
                                [routerLink]="'/pharmacydashboard'">Pharma Dashboard</a></li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Upload Prescription</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->



<section class="section section-search">
    <div class="container-fluid">
        <div class="banner-wrapper">
            <div class="banner-header text-center"></div></div></div></section>
<div>
<div style="margin-top: 5%; margin-bottom: 11%; margin-left: 20%;">
    <div class="row row-grid" >
   

        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card widget-profile pat-widget-profile">
                <mat-card class="example-card">
                    <img src="../../../assets/img/prescriptionsuggestion.png" alt="">
                  
                  </mat-card>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
           
                
                    
                    <div class="change-photo-btn" style="margin-top: 30%;">
                       
                        <span><i class=" btn br-10 upload" type="file"></i>Choose From Gallery</span>
                        <input type="file" class="upload" ng-click="prescriptionUpload()">
                      </div>
                      <div class="change-photo-btn" style="margin-top: 30%;">
                        <span><i class=" btn br-10 upload" type="file"></i>Select From E-prescription</span>
                        <input type="file" class="upload" ng-click="prescriptionUpload()">
                      </div>
                
           
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card widget-profile pat-widget-profile">
                <mat-card class="example-card">
                    
                   <img src="../../../assets/img/prescriptio11.png" alt="">
                  </mat-card>
            </div>
        </div>
      
    </div> 
</div>

<div>  <app-footer></app-footer></div>